body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn{
 background-color: aqua;
 border: none;
 outline: none;
 padding: .5em 2em;
 cursor:pointer;
 margin-bottom: 1em;
 
}